@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 1.5px;
    text-transform: none;
}
body{
    background-color: #e3e1db;
}
button, input{
    cursor: pointer;
}
nav{
    position: relative;
    background-color: #171725;
    display: flex;
    justify-content: center;
    height: 70px;
    border-bottom: 2px solid #f3ba3e;
}
nav #logo{
    background-image: url('../img/differ_logo_yellow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100%;
}
section{
    background-color: transparent;
    position: relative;
    display: flex;
}
#margin{
    background-color: #171725;
    position: relative;
    width: 25%;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 1s;
}
#marginTop{
    height: 60px;
    background-color: #171725;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #f3ba3e;
    transition: all 0.2s;
}
#marginTop h3{
    height: 60px;
    width: 100%;
    cursor: default;
    color: #FAF9F6;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
#marginTop div{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url('../img/icons8-search-more-24.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color:#f3ba3e;
    position: absolute;
    right: 0;
    top: 30px;
    transform: scaleX(-1) translate(50%, -50%);
    transition: transform 0.3s;
}
#searchDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0;
    border-bottom: 1px solid #f3ba3e;
    transition: height 0.5s;
}
.openSearchDiv{
    height: 35px !important;
}
#searchInput{
    background-color: rgb(235, 229, 229);
    border-radius: 5px;
    padding: 0 2.5% 0 2.5%;
    cursor: auto;
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 0;
    opacity: 0;
    transition: all 0.4s;
}
#searchInput:focus{
    outline: none;
}
.openSearch{
    height: 30px !important;
    position: relative !important;
    z-index: 1 !important;
    opacity: 1 !important;
}
.process{
    width: 100%;
    background-color: #171725;
    position: relative;
    border-bottom: 1px solid #f3ba3e;
    z-index: 1;
    transition: height 1s;
    box-shadow: inset 20px 0px 20px -10px rgb(39, 39, 39);
}
.process .buttons{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 2%;
    cursor: pointer;
}
.process .buttons:hover{
    background-image: linear-gradient(to right, #46464a, #171725);
    box-shadow: inset 20px 0px 10px -10px rgb(39, 39, 39);
}
.buttons .processButton{
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #FAF9F6;
}
.buttons .dropdownButton{
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #FAF9F6;
    transform: rotate(-180deg);
}
.buttons .processButton p{
    font-size: 15px;
    text-transform: capitalize;
    padding: 2px 4px;
}
.buttons .dropdownButton p{
    width : 20px;
    height : 20px;
    padding: 2px 4px;
    border-radius: 50%;
    background-image : url("../img/arrow-left.png");
    background-position : center;
    background-size : 70%;
    background-repeat : no-repeat;
    background-color: #f3ba3e;
    transition: all 0.3s;
}
.process .dropdownContent{
    max-height: 200px;
    overflow-y: scroll;
    padding: 0 0 0 4%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.process .dropdownContent input{
    padding: 6px 4px;
    border: none;
    border-top: 1px solid black;
    background-color: transparent;
    color: #FAF9F6;
    text-transform: capitalize;
    text-align: start;
    font-size: 12px;
}
.process .dropdownContent input:hover{
    background-image: linear-gradient(to right, #46464a, #171725);
}
.openProcess{
    
}
.open{
    
}
.open p{
    transform: rotate(90deg) !important;
}
#display{
    width: 75%;
    box-shadow: inset 10px 10px 10px -10px rgb(39, 39, 39);
}
#path{
    padding: 2px;
    height: 30px;
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid black;
}
#path:hover{
    overflow-x: scroll;
}
#path *{
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #463d31;
    text-transform: capitalize;
}
#path button:hover{
    background-color: rgb(214, 214, 214);
}
#displayProcess{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
#displayProcess svg{
    position: absolute;
    width: 100%;
    height: 100%;
}
#pageLabel{
    position: absolute;
    top: 1%;
    left: 1%;
}
#displayCenterProcess{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hover{
    position: absolute;
    background-color: lightgrey;
    z-index: 1;
    border: 1px solid black;
    padding: 5px 10px;
    white-space: nowrap;
}

/* Styling the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* Foreground */
::-webkit-scrollbar-thumb { 
    background: rgb(128, 128, 128);
    border-radius: 5px;
    cursor: pointer;
}
/* Foreground Hover */
::-webkit-scrollbar-thumb:hover { 
    background: rgb(22, 22, 22);
    cursor: pointer;
}
/* Background */
::-webkit-scrollbar-track { 
    background: transparent;
}